@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "微软雅黑",arial; color:#5a5a5a;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
small{font-size:12px;}
b,strong{font-weight:bold;}
ul,ol,li{list-style-type:none;list-style-image:none;}
a{outline:0;color:#6b6b6b;text-decoration:none;cursor:pointer;behavior:url(link.htc);}
a:hover{text-decoration:none;  color:#ff761a;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset{border-top:0;border-right:0;border-bottom:0;border-left:0;}
img{border:0;vertical-align:bottom;-ms-interpolation-mode:bicubic;}
table{border-collapse:collapse;border-spacing:0;}
div{zoom:1;}
.l{float:left;}
.r{float:right;}
.hidden{display:none;}
.clearfix:after{clear:both;display:block;visibility:hidden;height:0;content:".";font-size:0;}
* html .clearfix{zoom:1;}
*:first-child+html .clearfix{zoom:1;}
*html ul.box li{margin-bottom:-2px;}/* ie6 */
*+html ul.box li{margin-bottom:-2px;}/* ie7 */
/* html5 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
abbr[title]{border-bottom:1px dotted;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid #c0c0c0;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{margin:0;outline:0;vertical-align:baseline;font-size:100%;*vertical-align:middle;}
button,input{font-size: 16px;
color: #666;
width: 528px;
padding: 10px 20px;
line-height: 20px;
height: 20px;
border: 1px solid #dcdcdc;
border-radius: 4px;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
*:link,*:visited,*:hover,*:active,*:focus{-webkit-transition:color .25s linear,background-color .25s linear,border-color .25s linear;-moz-transition:color .25s linear,background-color .25s linear,border-color .25s linear;}
.tran{-webkit-transition:all .2s ease;-moz-transition:all .2s cubic-bezier(ease);}
body{ background:#fff;}
.layout{width:1200px; margin:0 auto;}


/*reg*/
#h_reg{width:100%;height:90px; border-bottom:1px solid #d7d7d7;}
#h_reg img{height:90px;}
.reg_main{width:100%; background:url(../Images/reg_bg.png) repeat-x center 0 #f8f8f8; padding-bottom:90px;}
.reg_t{display:block; margin:0 auto;}
.reg_tab{font-size:16px; color:#666; margin-left:250px;}
.reg_tab tr td{padding:10px 0;}
.reg_tab .t{font-size:16px; color:#666; width:528px; padding:10px 20px; line-height:20px; height:20px; border:1px solid #dcdcdc; border-radius:4px;}
.reg_tab label{font-size:12px; padding-left:10px;}
.reg_tab label img{vertical-align:middle;}
.reg_tab .btn{width:356px; height:44px; display:block; margin-left:156px; margin-top:30px; background:#EC4040; color:#fff; font-size:16px; border:none;letter-spacing:8px;}
.f_reg{width:100%; text-align:center; font-size:12px; color:#666; line-height:26px; padding:30px 0;}
.f_reg a{font-size:14px; color:#666; padding:0 10px;}

/*login*/
.login_main{background:url(../Images/login_bg.png) repeat-x center 0 #0cc455;}
.login_tab{float:right; width:400px; height:332px; background:#f2f2f2; border-radius:4px; margin-top:90px;}
.login_tab form{width:358px; margin:0 auto;}
.login_tab h2{font-weight:bold; font-size:20px; color:#fff; text-align:center; background: #EC4040; height:63px; line-height:63px;letter-spacing:8px;}
.login_tab .admin_icon{background:url(../Images/admin_icon.png) no-repeat center right #f0eef0; height:24px; line-height:24px; font-size:14px; color:#333; padding:12px 34px 12px 16px; width:306px; border:1px solid #dcdcdc; border-radius:4px;}
.login_tab .pwd_icon{background:url(../Images/pwd_icon.png) no-repeat center right #f0eef0; height:24px; line-height:24px; font-size:14px; color:#333; padding:12px 34px 12px 16px; width:306px; border:1px solid #dcdcdc; border-radius:4px;}
.login_tab .btn{width:100%; height:44px; display:block; background:#EC4040; color:#fff; font-size:16px; border:none;}
.login_tab .reg_a{color:#EC4040; font-size:12px; font-family:"宋体"; float:left;}
.login_tab .getpwd{color:#656565; font-size:12px; font-family:"宋体"; float:right;}
.login_tab tr td{padding-top:20px;}

/*about*/
.h_top{color:#5b5b5b; font-size:12px; background:#f2f2f2; line-height:38px; height:38px;}
.h_top a{color:#5b5b5b;}
.h_top a:hover{color:#0cc455;}
.header{width:100%; height:80px;}
.header .logo{height:80px; float:left;}
.header .layout{position:relative;}
.nav{float:left; line-height:80px; font-size:16px; position:relative; z-index:99; }
.nav a{display:inline-block; zoom:1; *display:inline; margin:0 20px;color:#61676a;}
.nav a:hover,.nav a.cur{ height:75px; border-bottom:5px solid #0cc455;}
.iw_poi_content,.iw_poi_title{ font-size:14px; color:#666; font-weight:normal; line-height:26px;}
.about_banner{width:100%; height:262px;}
.search{height:100px; position:absolute; top:0; width:254px; overflow:hidden; right:0;cursor:pointer; }
.search .show{position:absolute; right:0; top:0;background:#0cc455; cursor:pointer; z-index:5;}
.search .show img{height:100px;}
.search .hide{padding:24px 14px; position:absolute; right:-260px; top:0;background:#0cc455; z-index:4;}
.search .hide .t{width:180px; padding:16px 20px; height:20px; line-height:20px; font-size:16px; color:#4af08c; background:#239852; border:none;}
.sub_title{ width:100%; text-align:center; font-size:16px; color:#666; line-height:24px; position:relative; z-index:9;}
.sub_title .t{display:block; margin:0 auto;}
.sub_title  .icon{display:block; margin:6px auto;}
.a_part1{ width:100%; padding:40px 0 60px;}
.about_txt{background:#f8f8f8; position:relative; padding-left:412px; padding-top:60px; height:274px; margin-top:20px;}
.about_txt h2{font-weight:normal; color:#333; font-size:30px;}
.about_txt .pro{position:absolute; left:0 ;top:0;}
.about_txt .txt{font-size:14px; color:#666; line-height:24px; margin-top:24px;}
#dituContent{margin-top:-30px;}
.a_part3{width:100%; padding:40px 0 80px;}
.a_part3 .bg{background:#15a748; padding-bottom:40px; margin-top:20px;}
.a_part3 .a_list{overflow:hidden; padding:30px 16px 8px 6px; border-bottom:1px solid #7dcf9a;}
.a_part3 .a_list .num{color:#15a748; font-family:"Tahoma"; font-size:64px; background:#fff; float:left; text-align:center; width:90px; height:90px; line-height:90px; font-weight:bold;}
.a_part3 .a_list .t{width:1068px; float:right;}
.a_part3 .a_list .t h2{font-weight:normal; font-size:16px; color:#fff;border-bottom:1px solid #43b76b; line-height:32px;}
.a_part3 .a_list .t h2 a{color:#fff;}
.a_part3 .a_list .t h2 span{padding-left:40px;}
.a_part3 .a_list .t .w{font-size:14px; color:#fff; padding-top:8px;}
.a_part3 .more{background:url(../Images/more.png) no-repeat; width:200px; height:53px; margin:40px auto 0; line-height:53px; text-align:center;}
.a_part3 .more a{display:block; color:#fff; font-size:18px;}
.footer{width:100%; text-align:center; font-size:12px; color:#8f99a7; line-height:36px; padding:30px 0; background:#3a4553;}
.footer a{font-size:14px; color:#afc0d5; padding:0 10px;}

/*join*/
.advatage{padding:30px 0 60px;}
.adv_list{width:100%; overflow:hidden; margin-top:34px;}
.adv_list ul{width:1250px; overflow:hidden;}
.adv_list li{width:280px; float:left; background:#f8f8f8; height:320px; margin-right:28px;}
.adv_list li img{width:280px; height:194px;}
.adv_list li .t{font-size:14px; color:#666; padding:0 12px; margin-top:20px;}
.join_tj{background:#f8f8f8; padding:46px 0; width:100%; margin-top:26px; margin-bottom:60px;}
.join_tj ul{overflow:hidden; width:1250px;}
.join_tj li{width:236px;float:left; line-height:22px; text-align:center; font-size:14px; margin:0 58px 0 16px;}
.join_tj li img{width:236px; height:236px; display:block; margin-bottom:16px;}
.join_dl{background:#15a748; padding:94px 0 114px; margin-top:26px;margin-bottom:60px;}
.join_dl ul{overflow:hidden; width:1280px;}
.join_dl li{width:200px; float:left; margin:0 90px 0 26px; color:#fff; font-size:14px;}
.join_dl li img{height:102px; display:block; margin:0 auto;}
.join_dl li h2{font-weight:normal; color:#fff; font-size:16px; text-align:center; margin-bottom:6px;}
.join_bt{width:100%; padding:26px 0 100px;}
.degree{margin-bottom:130px;}
.degree ul{overflow:hidden;}
.degree li{width:300px; float:left; text-align:center;color:#666; font-size:14px;}
.degree li h2{font-weight:normal; font-size:16px; color:#666; line-height:44px;}
.degree li img{width:142px; height:142px; display:block; margin:0 auto;}
.join_bt .more{background:url(../Images/more.png) no-repeat; width:200px; height:53px; margin:40px auto 0; line-height:53px; text-align:center;}
.join_bt .more a{display:block; color:#fff; font-size:18px;}

/*index*/
.banner{width:100%; position:relative; height:500px; margin-bottom:30px;}
.banner .slides{height:500px;}
.banner .slides li{width:100%; height:500px;}
.banner .flex-control-nav{background:url(../Images/banner_bg.png) no-repeat; width:80px; height:10px; padding:5px 0;position:
absolute; left:50%; margin-left:-46px; bottom:40px; text-align:center; padding-left:12px;}
.banner .flex-control-nav li{float:left;width:10px; height:10px; font-size:0px; margin:0 6px;} 
.banner .flex-control-nav li a{display:block;background:url(../Images/banner_dot.png) no-repeat -22px 0;width:10px;height:10px;}
.banner .flex-control-nav li a.flex-active{background-position:0 0;}
.i_part1{width:100%; position:relative; margin-top:20px;}
.i_part1 .bg1{width:50%; position:absolute; left:0; height:100%; top:0; background:#0cc455;}
.i_part1 .bg2{width:50%; position:absolute; right:0; height:100%; top:0; background:#373c41;}
.i_part1 .layout{position:relative; padding:50px 0 70px;}
.i_part1 .i_p{width:50%;}
.i_part1 .i_p h2{font-weight:bold; font-size:40px; color:#fff; padding-left:80px;}
.i_part1 .i_p ul{padding-left:80px; margin-top:30px;}
.i_part1 .i_p li{font-size:16px; color:#d1d1d1; line-height:32px;}
.i_part1 .i_p li img{vertical-align:middle;}
.i_part1 .i_p .pro{display:block; margin:60px auto 0;}
.i_part2{padding:30px 0 0;}
.i_p2_list{margin:30px 0 60px;}
.i_p2_list ul{overflow:hidden;}
.i_p2_list li{width:300px; text-align:center; font-size:16px; color:#666; float:left; line-height:40px;}
.i_p2_list li img{display:block; margin:0 auto; height:143px;}
.flex{background:url(../Images/bannerbg.jpg) no-repeat center bottom;}
.flexslides{width:100%; height:396px; position:relative;}
.flexslides .slides li{width:100%; height:396px;}
.flexslides .slides li img{width:100%; height:396px;}
.flexslides .flex-direction-nav .flex-prev{width:36px; height:36px; position:absolute; left:50%; margin-left:-48px; bottom:50px; border:2px solid #fff; background:url(../Images/banner_bt1.png) no-repeat 0 0 #62ba81; font-size:0px;}
.flexslides .flex-direction-nav .flex-next{width:36px; height:36px; position:absolute; left:50%; margin-left:8px; bottom:50px; border:2px solid #fff; background:url(../Images/banner_bt2.png) no-repeat 0 0 #62ba81;font-size:0px;}
.flexslides .flex-direction-nav .flex-prev:hover{background:url(../Images/banner_bt1.png) no-repeat 0 0 #2c9355; border:2px solid #047f36;}
.flexslides .flex-direction-nav .flex-next:hover{background:url(../Images/banner_bt2.png) no-repeat 0 0 #2c9355; border:2px solid #047f36;}
.i_part3{background:#f4f6f7; padding:30px 0 40px;}
.i_p_list{width:100%; margin-top:30px;}
.i_p_list ul{overflow:hidden; width:1250px;}
.i_p_list li{width:262px; float:left; margin-right:46px; margin-bottom:40px;}
.i_p_list li img.pro{height:162px; display:block; margin:0 auto;}
.i_p_list li .w{background:#fff; height:154px; padding:20px 18px; overflow:hidden;}
.i_p_list li .w h2{font-weight:normal; font-size:18px; color:#333; height:50px;}
.i_p_list li .w h2 a{color:#333;}
.i_p_list li .w .s{font-size:14px; line-height:22px; color:#999; margin-top:10px; height:80px;}
.i_p_list li .w a.more{display:block; float:right;}
.i_p_list li .bg1{background:#6de29c;}
.i_p_list li .bg2{background:#6eb9d9;}
.i_p_list li .bg3{background:#ffc17b;}
.i_p_list li .bg4{background:#ff957b;}
.i_p_list li .bg5{background:#e892e5;}
.i_p_list li .bg6{background:#c9d96e;}
.i_p_list li .bg7{background:#64dbda;}
.i_p_list li .bg8{background:#fa6859;}
.main_bg{width:100%; height:173px; background:url(../Images/index_pic2.jpg) no-repeat center 0;}
.i_part4{padding:40px 0 60px; background:#fff;}
.i_part4 ul{overflow:hidden; width:1232px; margin:0 auto;}
.i_part4 li{width:280px; float:left; margin:0 14px 28px; background:#f4f6f7; height:320px;}
.i_part4 li img{width:280px; height:180px;}
.i_part4 li h2{font-weight:normal; font-size:18px; color:#333; line-height:46px; padding:0 14px;}
.i_part4 li .t{font-size:14px; color:#999; line-height:26px; padding:0 14px;}
.i_part4 .more{background:url(../Images/more.png) no-repeat; width:200px; height:53px; margin:40px auto 0; line-height:53px; text-align:center;}
.i_part4 .more a{display:block; color:#fff; font-size:18px;}


